doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    title= title ? title : "Articulo de blog" 
  body
    h1= title
    hr
    block content
      main.container
        != contentHTML
    script(src="/js/main.js", type="module") 